@import url("https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap");

/* main styles */
html {
  height: 100%;
}
body {
  background: center url("../assets/bg.jpg");
  font-family: "Share Tech Mono", monospace;
}

h1 {
  color: #ffffff;
  font-size: 48px;
  text-shadow: 1px 3px 0 #9b23fc;
}
.container {
  top: 0px;
  bottom: 0;
  margin: 0 auto;
  position: relative;
  width: 800px;
  height: 600px;
  border: 1px solid #000;
  overflow: hidden;
  background: center / contain no-repeat url("../assets/city.png");
}

/* game styles */
.player {
  position: absolute;
  height: 50px;
  width: 50px;
  bottom: 20px;
  left: 47%;
  background: center / contain no-repeat url("../assets/pill.png");
}
.box {
  width: 100px;
  height: 100px;
  background: center / contain no-repeat url("../assets/monstre.png");
  position: absolute;
  left: 100px;
  bottom: 10px;
  visibility: visible;
  opacity: 1;

  transform: translateX(750px);
}
.target {
  width: 200px;
  height: 255px;
  position: absolute;
  bottom: 50%;
  left: calc(50% - 100px);
}
.is-jumping {
  bottom: 60%;
}

/* Sprites */
.kite {
  background-image: url("../assets/kite.png");
  background-repeat: no-repeat;
  display: block;
}
.kite-kite-1 {
  width: 200px;
  height: 252px;
  background-position: -5px -5px;
}
.kite-kite-2 {
  width: 200px;
  height: 252px;
  background-position: -5px -267px;
}
.kite-kite-3 {
  width: 200px;
  height: 252px;
  background-position: -5px -529px;
}
.kite-kite-4 {
  width: 200px;
  height: 252px;
  background-position: -5px -791px;
}
.kite-kite-5 {
  width: 200px;
  height: 252px;
  background-position: -5px -1053px;
}
.kite-kite-6 {
  width: 200px;
  height: 252px;
  background-position: -5px -1315px;
}
.kite-kite-7 {
  width: 200px;
  height: 252px;
  background-position: -5px -1577px;
}
.fade-out {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s 1s, opacity 1s linear;
}
.damage {
  color: #ffffff;
  font-size: 24px;
  text-shadow: 1px 3px 0 red;
  right: 15px;
  top: 15px;
  position: absolute;
}
button {
  font-family: "Share Tech Mono", monospace;

  box-shadow: inset 0px 1px 0px 0px #ffffff;
  background-color: #f9f9f9;
  border: 1px solid #dcdcdc;
  cursor: pointer;
  color: #9b23fc;
  font-size: 15px;
  font-weight: bold;
  padding: 2px 14px;
  text-decoration: none;
}
header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #fff;
}
header p {
  text-shadow: 3px 3px 0 #000000;
}

button:disabled {
  color: #cccccc;
}

.win {
  position: absolute;
  top: 50%;
  color: #ffffff;

  font-size: 48px;
  left: 50%;
  margin-left: -183px;
  text-shadow: 1px 3px 0 #9b23fc;
}
ol {
  list-style: none;
  padding: 0;
}

.close {
  font-size: 18px;
  position: absolute;
  right: 10px;
  top: 10px;
}
.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
.instructionsText {
  margin: 0 auto;
  width: auto;
  padding: 0px;
  text-align: center;
  text-shadow: 3px 3px 0 #000000;
  color: #fff;
}
.instructionsText span {
  color: red;
}
